<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h6>Change Password</h6>
                </div>
                <div class="card-body">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        <div class="form-group">
                            <label> Old Password<span class="text-center text-danger">*</span></label>
                            <input [type]="show_button ? 'text' : 'password'" class="form-control" placeholder="Old password" formControlName="oldPassword" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
                            <i class="eye-icon-pos" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('old')"> </i>
                            <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.oldPassword.errors.required">Old Password  is requird </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> New Password<span class="text-center text-danger">*</span></label>
                            <input [type]="show_button1 ? 'text' : 'password'" class="form-control" placeholder="New password" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                            <i class="eye-icon-pos" [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('new')"> </i>
                            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                <!-- <div *ngIf="f.newPassword.errors.required">New Password is required</div> -->
                                <div *ngIf="f.newPassword.errors.passwordValid"> New Password  is invalid format
                                    <!--  -->
                                </div>

                            </div>

                        </div>
                        <div class="form-group">
                            <label> Confirm Password<span class="text-center text-danger">*</span></label>
                            <input [type]="show_button2 ? 'text' : 'password'" class="form-control" placeholder="Confirm password" formControlName="ConfirmPassword" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }">
                            <i class="eye-icon-pos" [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword('confirm')"> </i>
                            <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
                                <!-- <div *ngIf="f.ConfirmPassword.errors.required">Password is required</div> -->
                                <div *ngIf="f.ConfirmPassword.errors.passwordValid"> Confirm Password is  invalid format </div>
                            </div>

                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn btn-outline-success btn-sm mr-2">Update</button>
                            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="clearForm()">Clear</button>
                        </div>
                    </form>

                    <div class="card card-body mt-3 p-1 shadow-none border-0">
                        <span class="font-weight-bold">Note</span>
                        <ul class="pl-3">
                            <li>Your password must be between 8 to 20 characters.</li>
                            <li>Your password must contain at least 1 capital letter (eg. A, B, etc).</li>
                            <li>Your password must contain at least 1 special character (eg. @, $, !, %, *, #, ?, &).</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>